{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-alias",
            {
                "src": "src/",
                "expose": "./"
            }
        ]
    ]
}
